<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>com_box_bg_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,45}</string>
                <key>spriteSourceSize</key>
                <string>{42,45}</string>
                <key>textureRect</key>
                <string>{{724,868},{42,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_boy_icon_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,51}</string>
                <key>spriteSourceSize</key>
                <string>{33,51}</string>
                <key>textureRect</key>
                <string>{{271,923},{33,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_btn_line_left_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{407,14}</string>
                <key>spriteSourceSize</key>
                <string>{421,14}</string>
                <key>textureRect</key>
                <string>{{65,568},{407,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>com_btn_line_right_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{407,14}</string>
                <key>spriteSourceSize</key>
                <string>{421,14}</string>
                <key>textureRect</key>
                <string>{{81,568},{407,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>com_cancel_btn_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,91}</string>
                <key>spriteSourceSize</key>
                <string>{242,91}</string>
                <key>textureRect</key>
                <string>{{271,679},{242,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>com_cancel_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,41}</string>
                <key>spriteSourceSize</key>
                <string>{105,41}</string>
                <key>textureRect</key>
                <string>{{796,799},{105,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>com_chat_send.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,41}</string>
                <key>spriteSourceSize</key>
                <string>{107,41}</string>
                <key>textureRect</key>
                <string>{{552,799},{107,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>com_close_btn_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,78}</string>
                <key>spriteSourceSize</key>
                <string>{76,78}</string>
                <key>textureRect</key>
                <string>{{839,799},{76,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>com_close_btn_special.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,93}</string>
                <key>spriteSourceSize</key>
                <string>{69,93}</string>
                <key>textureRect</key>
                <string>{{923,269},{69,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>com_confirm_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,41}</string>
                <key>spriteSourceSize</key>
                <string>{106,41}</string>
                <key>textureRect</key>
                <string>{{595,799},{106,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>com_dialog_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,135}</string>
                <key>spriteSourceSize</key>
                <string>{156,135}</string>
                <key>textureRect</key>
                <string>{{638,679},{156,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_dialog_bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,111}</string>
                <key>spriteSourceSize</key>
                <string>{128,111}</string>
                <key>textureRect</key>
                <string>{{440,918},{128,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>com_dialog_bg_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{920,538}</string>
                <key>spriteSourceSize</key>
                <string>{924,538}</string>
                <key>textureRect</key>
                <string>{{1,1},{920,538}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_dialog_bottom_bg_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{820,136}</string>
                <key>spriteSourceSize</key>
                <string>{820,136}</string>
                <key>textureRect</key>
                <string>{{97,541},{820,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_dialog_title_bg_violet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{362,73}</string>
                <key>spriteSourceSize</key>
                <string>{362,73}</string>
                <key>textureRect</key>
                <string>{{1,978},{362,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_dialog_title_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,73}</string>
                <key>spriteSourceSize</key>
                <string>{361,73}</string>
                <key>textureRect</key>
                <string>{{365,679},{361,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>com_dialog_w_bg_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,408}</string>
                <key>spriteSourceSize</key>
                <string>{62,408}</string>
                <key>textureRect</key>
                <string>{{1,568},{62,408}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_girl_icon_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,49}</string>
                <key>spriteSourceSize</key>
                <string>{33,49}</string>
                <key>textureRect</key>
                <string>{{600,679},{33,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_gold_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,21}</string>
                <key>spriteSourceSize</key>
                <string>{81,21}</string>
                <key>textureRect</key>
                <string>{{1,541},{81,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_loading.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,76}</string>
                <key>spriteSourceSize</key>
                <string>{79,76}</string>
                <key>textureRect</key>
                <string>{{839,877},{79,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>com_loading_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,118}</string>
                <key>spriteSourceSize</key>
                <string>{118,118}</string>
                <key>textureRect</key>
                <string>{{797,679},{118,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_men_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{553,918},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_red_btn_1_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,100}</string>
                <key>spriteSourceSize</key>
                <string>{266,100}</string>
                <key>textureRect</key>
                <string>{{923,1},{266,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>com_sex_bg_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{724,816},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,28}</string>
                <key>spriteSourceSize</key>
                <string>{58,28}</string>
                <key>textureRect</key>
                <string>{{306,923},{56,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_sure_btn_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,91}</string>
                <key>spriteSourceSize</key>
                <string>{242,91}</string>
                <key>textureRect</key>
                <string>{{919,674},{242,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>com_toast_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,50}</string>
                <key>spriteSourceSize</key>
                <string>{85,50}</string>
                <key>textureRect</key>
                <string>{{888,958},{85,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>com_view_title_tips.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,40}</string>
                <key>spriteSourceSize</key>
                <string>{85,40}</string>
                <key>textureRect</key>
                <string>{{797,906},{85,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>com_women_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{675,918},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_update_btn_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{285,83}</string>
                <key>spriteSourceSize</key>
                <string>{287,93}</string>
                <key>textureRect</key>
                <string>{{186,679},{285,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_update_btn_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{287,87}</string>
                <key>spriteSourceSize</key>
                <string>{287,93}</string>
                <key>textureRect</key>
                <string>{{97,679},{287,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lob_head_box_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{638,816},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_head_rect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{440,799},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_head_rect_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{919,568},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_head_rect_zz_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{940,965},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>update_btn_gray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,92}</string>
                <key>spriteSourceSize</key>
                <string>{226,92}</string>
                <key>textureRect</key>
                <string>{{923,340},{226,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>update_colon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{13,29}</string>
                <key>spriteSourceSize</key>
                <string>{13,45}</string>
                <key>textureRect</key>
                <string>{{306,953},{13,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>update_percent.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{33,39}</string>
                <key>spriteSourceSize</key>
                <string>{33,45}</string>
                <key>textureRect</key>
                <string>{{797,993},{33,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>update_txt_cancel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,47}</string>
                <key>spriteSourceSize</key>
                <string>{87,47}</string>
                <key>textureRect</key>
                <string>{{839,958},{87,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>update_txt_entry_g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,47}</string>
                <key>spriteSourceSize</key>
                <string>{158,47}</string>
                <key>textureRect</key>
                <string>{{440,679},{158,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>update_txt_entry_g_gray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,47}</string>
                <key>spriteSourceSize</key>
                <string>{158,47}</string>
                <key>textureRect</key>
                <string>{{440,728},{158,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>update_txt_update.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,45}</string>
                <key>spriteSourceSize</key>
                <string>{82,45}</string>
                <key>textureRect</key>
                <string>{{940,918},{82,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>ComUIRes.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1052}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6225feef0f593d9d702cbd886a281ecd:d3472cb9712acc5129333a1d04e7cfac:5c6b27aacb2ed5b32ddd9a183bb382c6$</string>
            <key>textureFileName</key>
            <string>ComUIRes.pvr.ccz</string>
        </dict>
    </dict>
</plist>
