<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MJ_end_bt_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,61}</string>
                <key>spriteSourceSize</key>
                <string>{60,61}</string>
                <key>textureRect</key>
                <string>{{1,193},{60,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MJ_end_bt_share.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,101}</string>
                <key>spriteSourceSize</key>
                <string>{304,101}</string>
                <key>textureRect</key>
                <string>{{309,1},{304,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MJ_end_bt_share_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,77}</string>
                <key>spriteSourceSize</key>
                <string>{162,77}</string>
                <key>textureRect</key>
                <string>{{301,104},{162,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MJ_end_bt_share_card.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,38}</string>
                <key>spriteSourceSize</key>
                <string>{109,38}</string>
                <key>textureRect</key>
                <string>{{665,127},{109,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MJ_end_bt_share_gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,38}</string>
                <key>spriteSourceSize</key>
                <string>{109,38}</string>
                <key>textureRect</key>
                <string>{{1,153},{109,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MJ_end_txt_share.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,60}</string>
                <key>spriteSourceSize</key>
                <string>{105,60}</string>
                <key>textureRect</key>
                <string>{{112,191},{105,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MJ_shop_buy_card_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,143}</string>
                <key>spriteSourceSize</key>
                <string>{129,143}</string>
                <key>textureRect</key>
                <string>{{465,104},{129,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>QZMJ_game_room_dzg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,37}</string>
                <key>spriteSourceSize</key>
                <string>{124,37}</string>
                <key>textureRect</key>
                <string>{{665,1},{124,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>QZMJ_game_room_name_7_dh_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,40}</string>
                <key>spriteSourceSize</key>
                <string>{83,40}</string>
                <key>textureRect</key>
                <string>{{596,167},{83,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>QZMJ_game_room_name_7_dh_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{83,38}</string>
                <key>spriteSourceSize</key>
                <string>{83,40}</string>
                <key>textureRect</key>
                <string>{{222,153},{83,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>QZMJ_game_room_type_1_qz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{59,37}</string>
                <key>spriteSourceSize</key>
                <string>{59,39}</string>
                <key>textureRect</key>
                <string>{{64,193},{59,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>QZMJ_game_room_type_3_qz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,36}</string>
                <key>spriteSourceSize</key>
                <string>{108,36}</string>
                <key>textureRect</key>
                <string>{{112,153},{108,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>QZMJ_game_room_xj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{32,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,38}</string>
                <key>textureRect</key>
                <string>{{358,221},{32,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>QZMJ_game_room_zj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,38}</string>
                <key>spriteSourceSize</key>
                <string>{36,38}</string>
                <key>textureRect</key>
                <string>{{358,183},{36,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>com_btn_txt_reward.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,48}</string>
                <key>spriteSourceSize</key>
                <string>{164,48}</string>
                <key>textureRect</key>
                <string>{{615,1},{164,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_room_option_bg_qz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,70}</string>
                <key>spriteSourceSize</key>
                <string>{306,78}</string>
                <key>textureRect</key>
                <string>{{1,81},{298,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_option_difen_about.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{300,183},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_option_difen_about_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,34}</string>
                <key>spriteSourceSize</key>
                <string>{36,34}</string>
                <key>textureRect</key>
                <string>{{398,183},{36,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_room_option_select_qz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,78}</string>
                <key>spriteSourceSize</key>
                <string>{306,78}</string>
                <key>textureRect</key>
                <string>{{1,1},{306,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_txt_difen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{75,36}</string>
                <key>spriteSourceSize</key>
                <string>{77,36}</string>
                <key>textureRect</key>
                <string>{{262,153},{75,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>HotRes.pvr.ccz</string>
            <key>size</key>
            <string>{704,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cffb6f1007e7a365ac043917ee3c8e68:336a0303be2c4a4f7ae813a34a5ca05b:98a2d461be835832080a00d783e65c16$</string>
            <key>textureFileName</key>
            <string>HotRes.pvr.ccz</string>
        </dict>
    </dict>
</plist>
