<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>add_room_bg_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{832,706}</string>
                <key>spriteSourceSize</key>
                <string>{832,706}</string>
                <key>textureRect</key>
                <string>{{1,1},{832,706}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>add_room_title_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,37}</string>
                <key>spriteSourceSize</key>
                <string>{269,37}</string>
                <key>textureRect</key>
                <string>{{1,835},{269,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bind_code_bg_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{777,735}</string>
                <key>spriteSourceSize</key>
                <string>{777,735}</string>
                <key>textureRect</key>
                <string>{{709,1},{777,735}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bind_code_title_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{334,57}</string>
                <key>spriteSourceSize</key>
                <string>{334,57}</string>
                <key>textureRect</key>
                <string>{{1100,780},{334,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>input_num_bg_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,110}</string>
                <key>spriteSourceSize</key>
                <string>{70,110}</string>
                <key>textureRect</key>
                <string>{{988,780},{70,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>input_num_btn_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,94}</string>
                <key>spriteSourceSize</key>
                <string>{179,94}</string>
                <key>textureRect</key>
                <string>{{709,780},{179,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>input_num_line_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,89}</string>
                <key>spriteSourceSize</key>
                <string>{2,89}</string>
                <key>textureRect</key>
                <string>{{890,780},{2,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>input_num_txt_cs_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,45}</string>
                <key>spriteSourceSize</key>
                <string>{88,45}</string>
                <key>textureRect</key>
                <string>{{894,780},{88,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>input_num_txt_sc_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,45}</string>
                <key>spriteSourceSize</key>
                <string>{88,45}</string>
                <key>textureRect</key>
                <string>{{941,780},{88,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>LobAddRoomRes.pvr.ccz</string>
            <key>size</key>
            <string>{1445,875}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:058ac4f2b10d7b4dc697593134cf82d1:7308ad598ee6bc2264badff2015ccdaa:300f2344175148d55b23711b84e213a6$</string>
            <key>textureFileName</key>
            <string>LobAddRoomRes.pvr.ccz</string>
        </dict>
    </dict>
</plist>
