<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>com_agreement_title_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,41}</string>
                <key>spriteSourceSize</key>
                <string>{147,41}</string>
                <key>textureRect</key>
                <string>{{121,637},{147,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_agree_tip_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,37}</string>
                <key>spriteSourceSize</key>
                <string>{267,37}</string>
                <key>textureRect</key>
                <string>{{121,598},{267,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_btn_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,108}</string>
                <key>spriteSourceSize</key>
                <string>{322,108}</string>
                <key>textureRect</key>
                <string>{{270,637},{322,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>login_btn_yk_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,108}</string>
                <key>spriteSourceSize</key>
                <string>{322,108}</string>
                <key>textureRect</key>
                <string>{{121,961},{322,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>login_health_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,42}</string>
                <key>spriteSourceSize</key>
                <string>{47,42}</string>
                <key>textureRect</key>
                <string>{{121,735},{47,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_logo_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{595,346}</string>
                <key>spriteSourceSize</key>
                <string>{595,346}</string>
                <key>textureRect</key>
                <string>{{67,1},{595,346}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>login_rect_bg_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-3}</string>
                <key>spriteSize</key>
                <string>{51,56}</string>
                <key>spriteSourceSize</key>
                <string>{61,62}</string>
                <key>textureRect</key>
                <string>{{208,680},{51,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>login_rect_selected_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,52}</string>
                <key>spriteSourceSize</key>
                <string>{61,52}</string>
                <key>textureRect</key>
                <string>{{208,733},{61,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>login_service_btn_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,85}</string>
                <key>spriteSourceSize</key>
                <string>{53,85}</string>
                <key>textureRect</key>
                <string>{{121,680},{53,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>login_update_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{706,25}</string>
                <key>spriteSourceSize</key>
                <string>{706,25}</string>
                <key>textureRect</key>
                <string>{{67,598},{706,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>login_update_progress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{706,25}</string>
                <key>spriteSourceSize</key>
                <string>{706,25}</string>
                <key>textureRect</key>
                <string>{{94,598},{706,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loing_txt_tip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1291,64}</string>
                <key>spriteSourceSize</key>
                <string>{1291,64}</string>
                <key>textureRect</key>
                <string>{{1,1},{1291,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>LoginRes.pvr.ccz</string>
            <key>size</key>
            <string>{414,1305}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e01d2eefc4f1a74299920f38887cd223:a674a0df5c7dbb15b48e8652780ac0d7:824f21ff99803bdf71b26902261e1808$</string>
            <key>textureFileName</key>
            <string>LoginRes.pvr.ccz</string>
        </dict>
    </dict>
</plist>
