*.iml
app.iml
.svn/
.vscode
.DS_Store
QZCertificateSigningRequest.certSigningRequest
aps_dev.p12
build/
aps_development.cer
aps_pro.cer
aps_pro.p12
src_et/
src_et_64/
luaIde
xx/
obj/
assets/
frameworks/runtime-src/proj.android/local.properties
.gradle/
.idea/
*.iml
frameworks/runtime-src/IM_SDK/android/libs/debug
frameworks/runtime-src/proj.ios_mac/.tmp
frameworks/runtime-src/proj.ios_mac/ReleaseIpa
frameworks/runtime-src/proj.ios_mac/majiang.xcodeproj
frameworks/runtime-src/static_libs.zip
frameworks/runtime-src/proj.android/app/app.iml
frameworks/runtime-src/proj.android/app/build.gradle
frameworks/runtime-src/proj.android/libcocos2dx/libcocos2dx.iml
frameworks/runtime-src/proj.android/local.properties
frameworks/runtime-src/proj.ios_mac/majiang.xcodeproj/project.pbxproj
