<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>create_game_item_bzm_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,42}</string>
                <key>spriteSourceSize</key>
                <string>{118,42}</string>
                <key>textureRect</key>
                <string>{{326,987},{118,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_game_item_bzm_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,47}</string>
                <key>spriteSourceSize</key>
                <string>{130,47}</string>
                <key>textureRect</key>
                <string>{{131,1320},{130,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_game_item_fj_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,43}</string>
                <key>spriteSourceSize</key>
                <string>{89,43}</string>
                <key>textureRect</key>
                <string>{{327,1144},{89,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_game_item_fj_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,46}</string>
                <key>spriteSourceSize</key>
                <string>{107,46}</string>
                <key>textureRect</key>
                <string>{{279,1145},{107,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_game_item_qzm_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,41}</string>
                <key>spriteSourceSize</key>
                <string>{118,41}</string>
                <key>textureRect</key>
                <string>{{370,987},{118,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_game_item_qzm_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,45}</string>
                <key>spriteSourceSize</key>
                <string>{130,45}</string>
                <key>textureRect</key>
                <string>{{279,1013},{130,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_room_bt_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,99}</string>
                <key>spriteSourceSize</key>
                <string>{319,99}</string>
                <key>textureRect</key>
                <string>{{1,751},{319,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_bt_txt_free_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,50}</string>
                <key>spriteSourceSize</key>
                <string>{193,50}</string>
                <key>textureRect</key>
                <string>{{388,751},{193,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_room_bt_txt_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,50}</string>
                <key>spriteSourceSize</key>
                <string>{193,50}</string>
                <key>textureRect</key>
                <string>{{227,1054},{193,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_room_dialog_bg_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{479,748}</string>
                <key>spriteSourceSize</key>
                <string>{479,748}</string>
                <key>textureRect</key>
                <string>{{1,1},{479,748}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_name_bg_normal_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,95}</string>
                <key>spriteSourceSize</key>
                <string>{224,95}</string>
                <key>textureRect</key>
                <string>{{1,1155},{224,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_name_bg_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,99}</string>
                <key>spriteSourceSize</key>
                <string>{240,99}</string>
                <key>textureRect</key>
                <string>{{1,953},{240,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_name_bg_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,99}</string>
                <key>spriteSourceSize</key>
                <string>{224,99}</string>
                <key>textureRect</key>
                <string>{{1,1054},{224,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_new_tip_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,46}</string>
                <key>spriteSourceSize</key>
                <string>{64,46}</string>
                <key>textureRect</key>
                <string>{{239,1254},{64,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_room_option_bg_s_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,64}</string>
                <key>spriteSourceSize</key>
                <string>{234,64}</string>
                <key>textureRect</key>
                <string>{{322,751},{234,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_room_option_card.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,50}</string>
                <key>spriteSourceSize</key>
                <string>{73,50}</string>
                <key>textureRect</key>
                <string>{{287,1254},{73,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_room_option_card_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,50}</string>
                <key>spriteSourceSize</key>
                <string>{73,50}</string>
                <key>textureRect</key>
                <string>{{339,1235},{73,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_room_option_difen_about_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,34}</string>
                <key>spriteSourceSize</key>
                <string>{36,34}</string>
                <key>textureRect</key>
                <string>{{243,1013},{36,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_room_option_difen_about_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{418,1144},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_option_dxt_bg_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,74}</string>
                <key>spriteSourceSize</key>
                <string>{44,74}</string>
                <key>textureRect</key>
                <string>{{372,1144},{44,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_option_dxt_off_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{339,1310},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_option_dxt_on_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{395,1294},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_option_free_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,8}</string>
                <key>spriteSourceSize</key>
                <string>{125,8}</string>
                <key>textureRect</key>
                <string>{{440,751},{125,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_room_option_line_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,54}</string>
                <key>spriteSourceSize</key>
                <string>{2,54}</string>
                <key>textureRect</key>
                <string>{{440,878},{2,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_option_m_off_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{413,983},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_option_m_on_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{413,1045},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_option_s_select_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,66}</string>
                <key>spriteSourceSize</key>
                <string>{236,66}</string>
                <key>textureRect</key>
                <string>{{1,1252},{236,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_txt_fangfei_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,35}</string>
                <key>spriteSourceSize</key>
                <string>{72,35}</string>
                <key>textureRect</key>
                <string>{{326,1107},{72,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_txt_jushu_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,35}</string>
                <key>spriteSourceSize</key>
                <string>{72,35}</string>
                <key>textureRect</key>
                <string>{{388,946},{72,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_txt_people_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,35}</string>
                <key>spriteSourceSize</key>
                <string>{72,35}</string>
                <key>textureRect</key>
                <string>{{400,1107},{72,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_txt_tese_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,35}</string>
                <key>spriteSourceSize</key>
                <string>{72,35}</string>
                <key>textureRect</key>
                <string>{{263,1329},{72,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_txt_wanfa_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,35}</string>
                <key>spriteSourceSize</key>
                <string>{72,35}</string>
                <key>textureRect</key>
                <string>{{391,1220},{72,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_room_txt_zj_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,35}</string>
                <key>spriteSourceSize</key>
                <string>{72,35}</string>
                <key>textureRect</key>
                <string>{{428,1202},{72,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_update_btn_1_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,99}</string>
                <key>spriteSourceSize</key>
                <string>{319,99}</string>
                <key>textureRect</key>
                <string>{{1,852},{319,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_update_txt_update_1_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,49}</string>
                <key>spriteSourceSize</key>
                <string>{128,49}</string>
                <key>textureRect</key>
                <string>{{1,1320},{128,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_room_aa_free_flag_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,58}</string>
                <key>spriteSourceSize</key>
                <string>{76,58}</string>
                <key>textureRect</key>
                <string>{{243,953},{76,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>LobCreateRoomRes.pvr.ccz</string>
            <key>size</key>
            <string>{481,1370}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09c33b0fddb74947b17ded57488639fb:1d2d2793c38fb9a1867f7add4990255e:ef9658233fae7d139735bd2721d9b683$</string>
            <key>textureFileName</key>
            <string>LobCreateRoomRes.pvr.ccz</string>
        </dict>
    </dict>
</plist>
