<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>com_close_btn_special.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,93}</string>
                <key>spriteSourceSize</key>
                <string>{69,93}</string>
                <key>textureRect</key>
                <string>{{335,1773},{69,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_game_item_axmj_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,44}</string>
                <key>spriteSourceSize</key>
                <string>{153,46}</string>
                <key>textureRect</key>
                <string>{{197,1742},{151,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_game_item_axmj_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,47}</string>
                <key>spriteSourceSize</key>
                <string>{168,49}</string>
                <key>textureRect</key>
                <string>{{305,953},{166,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_game_item_ddz_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,44}</string>
                <key>spriteSourceSize</key>
                <string>{161,46}</string>
                <key>textureRect</key>
                <string>{{237,1542},{159,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_game_item_ddz_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,48}</string>
                <key>spriteSourceSize</key>
                <string>{174,48}</string>
                <key>textureRect</key>
                <string>{{374,751},{172,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_game_item_dhbf_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,44}</string>
                <key>spriteSourceSize</key>
                <string>{147,46}</string>
                <key>textureRect</key>
                <string>{{426,1473},{145,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_game_item_dhbf_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,50}</string>
                <key>spriteSourceSize</key>
                <string>{170,52}</string>
                <key>textureRect</key>
                <string>{{1,1814},{168,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_game_item_dhmj_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,44}</string>
                <key>spriteSourceSize</key>
                <string>{153,46}</string>
                <key>textureRect</key>
                <string>{{243,1703},{151,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_game_item_dhmj_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,47}</string>
                <key>spriteSourceSize</key>
                <string>{168,49}</string>
                <key>textureRect</key>
                <string>{{53,1814},{168,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_game_item_hamj_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,44}</string>
                <key>spriteSourceSize</key>
                <string>{153,46}</string>
                <key>textureRect</key>
                <string>{{276,1335},{151,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_game_item_hamj_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,47}</string>
                <key>spriteSourceSize</key>
                <string>{168,49}</string>
                <key>textureRect</key>
                <string>{{305,1121},{166,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_game_item_jjmj_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,44}</string>
                <key>spriteSourceSize</key>
                <string>{153,46}</string>
                <key>textureRect</key>
                <string>{{322,1289},{151,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_game_item_jjmj_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,47}</string>
                <key>spriteSourceSize</key>
                <string>{168,49}</string>
                <key>textureRect</key>
                <string>{{188,1572},{168,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_game_item_pdk_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,44}</string>
                <key>spriteSourceSize</key>
                <string>{161,46}</string>
                <key>textureRect</key>
                <string>{{151,1767},{159,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_game_item_pdk_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,46}</string>
                <key>spriteSourceSize</key>
                <string>{174,48}</string>
                <key>textureRect</key>
                <string>{{424,751},{172,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_game_item_qgmj_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,44}</string>
                <key>spriteSourceSize</key>
                <string>{153,46}</string>
                <key>textureRect</key>
                <string>{{368,1282},{151,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_game_item_qgmj_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,47}</string>
                <key>spriteSourceSize</key>
                <string>{168,49}</string>
                <key>textureRect</key>
                <string>{{227,1374},{166,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_game_item_qzmj_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,44}</string>
                <key>spriteSourceSize</key>
                <string>{153,46}</string>
                <key>textureRect</key>
                <string>{{283,1488},{151,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_game_item_qzmj_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,47}</string>
                <key>spriteSourceSize</key>
                <string>{168,49}</string>
                <key>textureRect</key>
                <string>{{354,946},{166,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_game_item_ssmj_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,44}</string>
                <key>spriteSourceSize</key>
                <string>{153,46}</string>
                <key>textureRect</key>
                <string>{{329,1442},{151,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_game_item_ssmj_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,47}</string>
                <key>spriteSourceSize</key>
                <string>{168,49}</string>
                <key>textureRect</key>
                <string>{{354,1114},{166,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_game_item_xmmj_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,44}</string>
                <key>spriteSourceSize</key>
                <string>{153,46}</string>
                <key>textureRect</key>
                <string>{{289,1641},{151,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_game_item_xmmj_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,47}</string>
                <key>spriteSourceSize</key>
                <string>{168,49}</string>
                <key>textureRect</key>
                <string>{{102,1808},{168,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_game_item_ycmj_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,44}</string>
                <key>spriteSourceSize</key>
                <string>{153,46}</string>
                <key>textureRect</key>
                <string>{{335,1620},{151,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_game_item_ycmj_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,47}</string>
                <key>spriteSourceSize</key>
                <string>{168,49}</string>
                <key>textureRect</key>
                <string>{{403,925},{166,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_game_item_zzmj_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,44}</string>
                <key>spriteSourceSize</key>
                <string>{153,46}</string>
                <key>textureRect</key>
                <string>{{381,1620},{151,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_game_item_zzmj_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,47}</string>
                <key>spriteSourceSize</key>
                <string>{168,49}</string>
                <key>textureRect</key>
                <string>{{403,1093},{166,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_room_bt_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,99}</string>
                <key>spriteSourceSize</key>
                <string>{319,99}</string>
                <key>textureRect</key>
                <string>{{1,751},{319,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_bt_txt_free_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,50}</string>
                <key>spriteSourceSize</key>
                <string>{193,50}</string>
                <key>textureRect</key>
                <string>{{322,751},{193,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_room_bt_txt_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,50}</string>
                <key>spriteSourceSize</key>
                <string>{193,50}</string>
                <key>textureRect</key>
                <string>{{136,1572},{193,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_room_dialog_bg_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{479,748}</string>
                <key>spriteSourceSize</key>
                <string>{479,748}</string>
                <key>textureRect</key>
                <string>{{1,1},{479,748}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_name_bg_normal_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,95}</string>
                <key>spriteSourceSize</key>
                <string>{224,95}</string>
                <key>textureRect</key>
                <string>{{1,1475},{224,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_name_bg_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,99}</string>
                <key>spriteSourceSize</key>
                <string>{240,99}</string>
                <key>textureRect</key>
                <string>{{1,1273},{240,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_name_bg_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,99}</string>
                <key>spriteSourceSize</key>
                <string>{224,99}</string>
                <key>textureRect</key>
                <string>{{1,1374},{224,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_new_tip_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,46}</string>
                <key>spriteSourceSize</key>
                <string>{64,46}</string>
                <key>textureRect</key>
                <string>{{281,1870},{64,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_room_option_bg_qz_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,75}</string>
                <key>spriteSourceSize</key>
                <string>{302,75}</string>
                <key>textureRect</key>
                <string>{{1,1119},{302,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_option_bg_s_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,64}</string>
                <key>spriteSourceSize</key>
                <string>{234,64}</string>
                <key>textureRect</key>
                <string>{{70,1572},{234,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_room_option_bg_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,81}</string>
                <key>spriteSourceSize</key>
                <string>{302,81}</string>
                <key>textureRect</key>
                <string>{{1,953},{302,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_option_card.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,50}</string>
                <key>spriteSourceSize</key>
                <string>{73,50}</string>
                <key>textureRect</key>
                <string>{{414,1369},{73,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_option_card_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,50}</string>
                <key>spriteSourceSize</key>
                <string>{73,50}</string>
                <key>textureRect</key>
                <string>{{414,1421},{73,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_option_difen_about_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,34}</string>
                <key>spriteSourceSize</key>
                <string>{36,34}</string>
                <key>textureRect</key>
                <string>{{375,1435},{36,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_room_option_difen_about_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{430,1760},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_option_dxt_bg_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,74}</string>
                <key>spriteSourceSize</key>
                <string>{44,74}</string>
                <key>textureRect</key>
                <string>{{289,1794},{44,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_option_dxt_off_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{151,1928},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_option_dxt_on_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{430,1818},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_option_free_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,8}</string>
                <key>spriteSourceSize</key>
                <string>{125,8}</string>
                <key>textureRect</key>
                <string>{{472,751},{125,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_room_option_line_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,54}</string>
                <key>spriteSourceSize</key>
                <string>{2,54}</string>
                <key>textureRect</key>
                <string>{{482,1},{2,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_option_m_off_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{243,1273},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_option_m_on_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{427,1620},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_option_s_select_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,67}</string>
                <key>spriteSourceSize</key>
                <string>{240,67}</string>
                <key>textureRect</key>
                <string>{{1,1572},{240,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_room_option_select_qz_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,75}</string>
                <key>spriteSourceSize</key>
                <string>{302,75}</string>
                <key>textureRect</key>
                <string>{{1,1196},{302,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_option_select_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,81}</string>
                <key>spriteSourceSize</key>
                <string>{302,81}</string>
                <key>textureRect</key>
                <string>{{1,1036},{302,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_txt_beishu_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,35}</string>
                <key>spriteSourceSize</key>
                <string>{71,35}</string>
                <key>textureRect</key>
                <string>{{335,1844},{71,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_txt_difen_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,35}</string>
                <key>spriteSourceSize</key>
                <string>{71,35}</string>
                <key>textureRect</key>
                <string>{{207,1895},{71,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_room_txt_fangfei_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,35}</string>
                <key>spriteSourceSize</key>
                <string>{72,35}</string>
                <key>textureRect</key>
                <string>{{452,925},{72,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_room_txt_fd_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,35}</string>
                <key>spriteSourceSize</key>
                <string>{71,35}</string>
                <key>textureRect</key>
                <string>{{244,1856},{71,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_room_txt_hupai_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,35}</string>
                <key>spriteSourceSize</key>
                <string>{71,35}</string>
                <key>textureRect</key>
                <string>{{329,1881},{71,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_txt_jf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,35}</string>
                <key>spriteSourceSize</key>
                <string>{70,35}</string>
                <key>textureRect</key>
                <string>{{402,1881},{70,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_room_txt_jushu_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,35}</string>
                <key>spriteSourceSize</key>
                <string>{72,35}</string>
                <key>textureRect</key>
                <string>{{452,999},{72,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_room_txt_people_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,35}</string>
                <key>spriteSourceSize</key>
                <string>{72,35}</string>
                <key>textureRect</key>
                <string>{{452,1073},{72,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_room_txt_sp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,36}</string>
                <key>spriteSourceSize</key>
                <string>{106,36}</string>
                <key>textureRect</key>
                <string>{{414,1261},{106,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_room_txt_tese_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,35}</string>
                <key>spriteSourceSize</key>
                <string>{72,35}</string>
                <key>textureRect</key>
                <string>{{452,1147},{72,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_room_txt_wanfa_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,35}</string>
                <key>spriteSourceSize</key>
                <string>{72,35}</string>
                <key>textureRect</key>
                <string>{{452,1221},{72,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_room_txt_youjin_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,35}</string>
                <key>spriteSourceSize</key>
                <string>{71,35}</string>
                <key>textureRect</key>
                <string>{{329,1918},{71,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_txt_zj_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,35}</string>
                <key>spriteSourceSize</key>
                <string>{72,35}</string>
                <key>textureRect</key>
                <string>{{452,1295},{72,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_update_btn_1_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,99}</string>
                <key>spriteSourceSize</key>
                <string>{319,99}</string>
                <key>textureRect</key>
                <string>{{1,852},{319,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_update_txt_update_1_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,49}</string>
                <key>spriteSourceSize</key>
                <string>{128,49}</string>
                <key>textureRect</key>
                <string>{{375,1473},{128,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lob_room_aa_free_flag_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,58}</string>
                <key>spriteSourceSize</key>
                <string>{76,58}</string>
                <key>textureRect</key>
                <string>{{427,1682},{76,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>LobCreateRoomRes.pvr.ccz</string>
            <key>size</key>
            <string>{488,1983}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b2493af9e88711a4831cb829667c7c0:882bd2c5795a8435ba491d0eb23c0df5:ef9658233fae7d139735bd2721d9b683$</string>
            <key>textureFileName</key>
            <string>LobCreateRoomRes.pvr.ccz</string>
        </dict>
    </dict>
</plist>
