<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>login_btn_visitor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,58}</string>
                <key>spriteSourceSize</key>
                <string>{194,58}</string>
                <key>textureRect</key>
                <string>{{383,1},{194,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_btn_wx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,120}</string>
                <key>spriteSourceSize</key>
                <string>{380,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{380,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_update_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{706,25}</string>
                <key>spriteSourceSize</key>
                <string>{706,25}</string>
                <key>textureRect</key>
                <string>{{1,123},{706,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_update_progress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{706,25}</string>
                <key>spriteSourceSize</key>
                <string>{706,25}</string>
                <key>textureRect</key>
                <string>{{1,150},{706,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>LoginRes.pvr.ccz</string>
            <key>size</key>
            <string>{708,176}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5daee6083587e75785cba5d8e09012d1:71b802a9d71e423f50a642f727a7f184:824f21ff99803bdf71b26902261e1808$</string>
            <key>textureFileName</key>
            <string>LoginRes.pvr.ccz</string>
        </dict>
    </dict>
</plist>
