<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MJ_shop_buy_card_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,143}</string>
                <key>spriteSourceSize</key>
                <string>{129,143}</string>
                <key>textureRect</key>
                <string>{{933,876},{129,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MJ_shop_card_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{689,82}</string>
                <key>spriteSourceSize</key>
                <string>{689,82}</string>
                <key>textureRect</key>
                <string>{{2,754},{689,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MJ_shop_gold_buy_card_item_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{292,399}</string>
                <key>spriteSourceSize</key>
                <string>{292,405}</string>
                <key>textureRect</key>
                <string>{{955,2},{292,399}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MJ_shop_item_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{292,399}</string>
                <key>spriteSourceSize</key>
                <string>{292,405}</string>
                <key>textureRect</key>
                <string>{{955,403},{292,399}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MJ_shop_item_discount.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,62}</string>
                <key>spriteSourceSize</key>
                <string>{139,62}</string>
                <key>textureRect</key>
                <string>{{1078,876},{139,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_game_item_p.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,39}</string>
                <key>spriteSourceSize</key>
                <string>{49,39}</string>
                <key>textureRect</key>
                <string>{{455,980},{49,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_game_item_p_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,45}</string>
                <key>spriteSourceSize</key>
                <string>{57,45}</string>
                <key>textureRect</key>
                <string>{{1275,946},{57,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_room_bt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,93}</string>
                <key>spriteSourceSize</key>
                <string>{287,93}</string>
                <key>textureRect</key>
                <string>{{333,838},{287,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_bt_txt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,45}</string>
                <key>spriteSourceSize</key>
                <string>{175,45}</string>
                <key>textureRect</key>
                <string>{{1249,610},{175,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_room_bt_txt_free.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,45}</string>
                <key>spriteSourceSize</key>
                <string>{175,45}</string>
                <key>textureRect</key>
                <string>{{333,933},{175,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_name_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-1}</string>
                <key>spriteSize</key>
                <string>{214,108}</string>
                <key>spriteSourceSize</key>
                <string>{252,116}</string>
                <key>textureRect</key>
                <string>{{622,872},{214,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_name_bg_sec.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,116}</string>
                <key>spriteSourceSize</key>
                <string>{252,116}</string>
                <key>textureRect</key>
                <string>{{693,754},{252,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_name_free.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,104}</string>
                <key>spriteSourceSize</key>
                <string>{93,104}</string>
                <key>textureRect</key>
                <string>{{838,872},{93,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_option_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,78}</string>
                <key>spriteSourceSize</key>
                <string>{306,86}</string>
                <key>textureRect</key>
                <string>{{1249,310},{298,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_room_option_bg_s_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,70}</string>
                <key>spriteSourceSize</key>
                <string>{246,70}</string>
                <key>textureRect</key>
                <string>{{947,804},{246,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_option_card.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,50}</string>
                <key>spriteSourceSize</key>
                <string>{73,50}</string>
                <key>textureRect</key>
                <string>{{510,933},{73,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_option_card_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,50}</string>
                <key>spriteSourceSize</key>
                <string>{73,50}</string>
                <key>textureRect</key>
                <string>{{1196,869},{73,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_room_option_difen_about.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1217,946},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_option_difen_about_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,34}</string>
                <key>spriteSourceSize</key>
                <string>{36,34}</string>
                <key>textureRect</key>
                <string>{{585,933},{36,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_room_option_free.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,8}</string>
                <key>spriteSourceSize</key>
                <string>{145,8}</string>
                <key>textureRect</key>
                <string>{{1296,610},{145,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_room_option_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,66}</string>
                <key>spriteSourceSize</key>
                <string>{2,66}</string>
                <key>textureRect</key>
                <string>{{585,1020},{2,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_room_option_m_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{63,62}</string>
                <key>spriteSourceSize</key>
                <string>{79,66}</string>
                <key>textureRect</key>
                <string>{{1195,804},{63,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_room_option_m_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,66}</string>
                <key>spriteSourceSize</key>
                <string>{79,66}</string>
                <key>textureRect</key>
                <string>{{249,950},{79,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_option_s_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,72}</string>
                <key>spriteSourceSize</key>
                <string>{245,72}</string>
                <key>textureRect</key>
                <string>{{2,950},{245,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_option_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,86}</string>
                <key>spriteSourceSize</key>
                <string>{306,86}</string>
                <key>textureRect</key>
                <string>{{1249,2},{306,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_room_top_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,101}</string>
                <key>spriteSourceSize</key>
                <string>{52,101}</string>
                <key>textureRect</key>
                <string>{{1142,876},{52,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_top_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,44}</string>
                <key>spriteSourceSize</key>
                <string>{42,44}</string>
                <key>textureRect</key>
                <string>{{330,980},{42,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_room_txt_beishu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,36}</string>
                <key>spriteSourceSize</key>
                <string>{77,36}</string>
                <key>textureRect</key>
                <string>{{376,980},{77,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_txt_fangfei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,36}</string>
                <key>spriteSourceSize</key>
                <string>{77,36}</string>
                <key>textureRect</key>
                <string>{{1259,787},{77,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_room_txt_gangfen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,36}</string>
                <key>spriteSourceSize</key>
                <string>{77,36}</string>
                <key>textureRect</key>
                <string>{{1142,979},{73,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_txt_hupai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,36}</string>
                <key>spriteSourceSize</key>
                <string>{77,36}</string>
                <key>textureRect</key>
                <string>{{1248,869},{75,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_room_txt_jushu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,36}</string>
                <key>spriteSourceSize</key>
                <string>{77,36}</string>
                <key>textureRect</key>
                <string>{{506,985},{77,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_txt_people.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,36}</string>
                <key>spriteSourceSize</key>
                <string>{77,36}</string>
                <key>textureRect</key>
                <string>{{1286,866},{77,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_room_txt_tese.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{75,36}</string>
                <key>spriteSourceSize</key>
                <string>{77,36}</string>
                <key>textureRect</key>
                <string>{{585,982},{75,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_txt_wanfa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,36}</string>
                <key>spriteSourceSize</key>
                <string>{77,36}</string>
                <key>textureRect</key>
                <string>{{838,978},{77,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_txt_youjin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,36}</string>
                <key>spriteSourceSize</key>
                <string>{77,36}</string>
                <key>textureRect</key>
                <string>{{662,982},{75,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enter_room_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{951,750}</string>
                <key>spriteSourceSize</key>
                <string>{951,750}</string>
                <key>textureRect</key>
                <string>{{2,2},{951,750}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_play_end_hu_baiban.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,27}</string>
                <key>spriteSourceSize</key>
                <string>{52,27}</string>
                <key>textureRect</key>
                <string>{{622,838},{52,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_mj_title_1_h.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{329,110}</string>
                <key>spriteSourceSize</key>
                <string>{329,110}</string>
                <key>textureRect</key>
                <string>{{2,838},{329,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>QzRoomRes.pvr.ccz</string>
            <key>size</key>
            <string>{1337,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:afca22833f9a9f771e6836d202f35594:e6b413d9505ba69ea3ea6e43249171a8:f04816ec0299eb197d1511432e4be07c$</string>
            <key>textureFileName</key>
            <string>QzRoomRes.pvr.ccz</string>
        </dict>
    </dict>
</plist>
