<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>com_activity_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,50}</string>
                <key>spriteSourceSize</key>
                <string>{113,50}</string>
                <key>textureRect</key>
                <string>{{383,669},{113,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_add_room_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,59}</string>
                <key>spriteSourceSize</key>
                <string>{213,59}</string>
                <key>textureRect</key>
                <string>{{1,570},{213,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_agreement_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,57}</string>
                <key>spriteSourceSize</key>
                <string>{213,57}</string>
                <key>textureRect</key>
                <string>{{1,631},{213,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_buy_card_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,59}</string>
                <key>spriteSourceSize</key>
                <string>{231,59}</string>
                <key>textureRect</key>
                <string>{{1,259},{231,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_buy_gold_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,61}</string>
                <key>spriteSourceSize</key>
                <string>{207,61}</string>
                <key>textureRect</key>
                <string>{{1,873},{207,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_close_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,75}</string>
                <key>spriteSourceSize</key>
                <string>{76,75}</string>
                <key>textureRect</key>
                <string>{{261,932},{76,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>com_create_room_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,60}</string>
                <key>spriteSourceSize</key>
                <string>{215,60}</string>
                <key>textureRect</key>
                <string>{{1,508},{215,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_dialog_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,135}</string>
                <key>spriteSourceSize</key>
                <string>{156,135}</string>
                <key>textureRect</key>
                <string>{{1,936},{156,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_dialog_bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,111}</string>
                <key>spriteSourceSize</key>
                <string>{128,111}</string>
                <key>textureRect</key>
                <string>{{380,774},{128,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>com_dialog_bg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,53}</string>
                <key>spriteSourceSize</key>
                <string>{124,53}</string>
                <key>textureRect</key>
                <string>{{289,71},{124,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_dialog_title_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,68}</string>
                <key>spriteSourceSize</key>
                <string>{413,68}</string>
                <key>textureRect</key>
                <string>{{1,1},{413,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_dimiss_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,61}</string>
                <key>spriteSourceSize</key>
                <string>{209,61}</string>
                <key>textureRect</key>
                <string>{{1,810},{209,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_end_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,61}</string>
                <key>spriteSourceSize</key>
                <string>{211,61}</string>
                <key>textureRect</key>
                <string>{{1,690},{211,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_green_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,92}</string>
                <key>spriteSourceSize</key>
                <string>{226,92}</string>
                <key>textureRect</key>
                <string>{{411,388},{226,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>com_green_btn_long.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{286,92}</string>
                <key>spriteSourceSize</key>
                <string>{286,92}</string>
                <key>textureRect</key>
                <string>{{1,71},{286,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{289,175},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_head_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{289,297},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_help_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,55}</string>
                <key>spriteSourceSize</key>
                <string>{211,55}</string>
                <key>textureRect</key>
                <string>{{1,753},{211,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_history_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,56}</string>
                <key>spriteSourceSize</key>
                <string>{114,56}</string>
                <key>textureRect</key>
                <string>{{289,419},{114,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_look_total_result.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,47}</string>
                <key>spriteSourceSize</key>
                <string>{205,47}</string>
                <key>textureRect</key>
                <string>{{212,872},{205,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>com_msg_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,58}</string>
                <key>spriteSourceSize</key>
                <string>{113,58}</string>
                <key>textureRect</key>
                <string>{{229,363},{113,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>com_orange_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,92}</string>
                <key>spriteSourceSize</key>
                <string>{226,92}</string>
                <key>textureRect</key>
                <string>{{1,320},{226,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_orange_btn_long.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{286,92}</string>
                <key>spriteSourceSize</key>
                <string>{286,92}</string>
                <key>textureRect</key>
                <string>{{415,100},{286,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>com_red_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,92}</string>
                <key>spriteSourceSize</key>
                <string>{226,92}</string>
                <key>textureRect</key>
                <string>{{1,414},{226,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_red_btn_long.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{286,92}</string>
                <key>spriteSourceSize</key>
                <string>{286,92}</string>
                <key>textureRect</key>
                <string>{{1,165},{286,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_setting_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,51}</string>
                <key>spriteSourceSize</key>
                <string>{112,51}</string>
                <key>textureRect</key>
                <string>{{383,721},{112,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_sex_icon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,53}</string>
                <key>spriteSourceSize</key>
                <string>{50,53}</string>
                <key>textureRect</key>
                <string>{{234,259},{50,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>com_sex_icon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,53}</string>
                <key>spriteSourceSize</key>
                <string>{50,53}</string>
                <key>textureRect</key>
                <string>{{234,311},{50,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>com_share_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,58}</string>
                <key>spriteSourceSize</key>
                <string>{109,58}</string>
                <key>textureRect</key>
                <string>{{261,872},{109,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_tips_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,51}</string>
                <key>spriteSourceSize</key>
                <string>{114,51}</string>
                <key>textureRect</key>
                <string>{{392,616},{114,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_txt_agree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,47}</string>
                <key>spriteSourceSize</key>
                <string>{85,47}</string>
                <key>textureRect</key>
                <string>{{416,51},{85,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_txt_back_to_lobby_g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,47}</string>
                <key>spriteSourceSize</key>
                <string>{175,47}</string>
                <key>textureRect</key>
                <string>{{229,478},{175,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_txt_back_to_lobby_o.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,47}</string>
                <key>spriteSourceSize</key>
                <string>{175,47}</string>
                <key>textureRect</key>
                <string>{{218,527},{175,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_txt_cancel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,47}</string>
                <key>spriteSourceSize</key>
                <string>{83,47}</string>
                <key>textureRect</key>
                <string>{{261,1010},{83,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_txt_cancel_ trust.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,47}</string>
                <key>spriteSourceSize</key>
                <string>{165,47}</string>
                <key>textureRect</key>
                <string>{{216,626},{165,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_txt_confirm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,48}</string>
                <key>spriteSourceSize</key>
                <string>{87,48}</string>
                <key>textureRect</key>
                <string>{{416,1},{87,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_txt_create_room.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,48}</string>
                <key>spriteSourceSize</key>
                <string>{174,48}</string>
                <key>textureRect</key>
                <string>{{216,576},{174,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_txt_dismiss_room.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,48}</string>
                <key>spriteSourceSize</key>
                <string>{163,48}</string>
                <key>textureRect</key>
                <string>{{212,822},{163,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_txt_look_card.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,47}</string>
                <key>spriteSourceSize</key>
                <string>{164,47}</string>
                <key>textureRect</key>
                <string>{{214,724},{164,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_txt_look_info.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,47}</string>
                <key>spriteSourceSize</key>
                <string>{164,47}</string>
                <key>textureRect</key>
                <string>{{214,773},{164,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_txt_next_game.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,47}</string>
                <key>spriteSourceSize</key>
                <string>{124,47}</string>
                <key>textureRect</key>
                <string>{{289,126},{124,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_txt_quit_login.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,47}</string>
                <key>spriteSourceSize</key>
                <string>{165,47}</string>
                <key>textureRect</key>
                <string>{{216,675},{165,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_txt_refuse.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,46}</string>
                <key>spriteSourceSize</key>
                <string>{84,46}</string>
                <key>textureRect</key>
                <string>{{346,1010},{84,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_txt_send.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,48}</string>
                <key>spriteSourceSize</key>
                <string>{84,48}</string>
                <key>textureRect</key>
                <string>{{159,936},{84,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lob_head_rect_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{372,904},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>ComRes.pvr.ccz</string>
            <key>size</key>
            <string>{508,1078}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f64e0e0895d950a01cf9136285988cc9:475f95668be06e45c6a54b47269f0dd2:bd03cc6d6a94a9cb4c789effb7cb9d45$</string>
            <key>textureFileName</key>
            <string>ComRes.pvr.ccz</string>
        </dict>
    </dict>
</plist>
