<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>create_room_option_dxt_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,55}</string>
                <key>spriteSourceSize</key>
                <string>{56,55}</string>
                <key>textureRect</key>
                <string>{{638,753},{56,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_option_dxt_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,55}</string>
                <key>spriteSourceSize</key>
                <string>{56,55}</string>
                <key>textureRect</key>
                <string>{{696,753},{56,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_option_m_off_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{61,51}</string>
                <key>textureRect</key>
                <string>{{754,753},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_option_m_on_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,51}</string>
                <key>spriteSourceSize</key>
                <string>{61,51}</string>
                <key>textureRect</key>
                <string>{{575,753},{61,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_txt_beishu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,36}</string>
                <key>spriteSourceSize</key>
                <string>{77,36}</string>
                <key>textureRect</key>
                <string>{{182,753},{77,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_txt_difen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{75,36}</string>
                <key>spriteSourceSize</key>
                <string>{77,36}</string>
                <key>textureRect</key>
                <string>{{498,753},{75,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_txt_jushu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,36}</string>
                <key>spriteSourceSize</key>
                <string>{77,36}</string>
                <key>textureRect</key>
                <string>{{261,753},{77,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_txt_people.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,36}</string>
                <key>spriteSourceSize</key>
                <string>{77,36}</string>
                <key>textureRect</key>
                <string>{{340,753},{77,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room_txt_wanfa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,36}</string>
                <key>spriteSourceSize</key>
                <string>{77,36}</string>
                <key>textureRect</key>
                <string>{{419,753},{77,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enter_room_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{951,750}</string>
                <key>spriteSourceSize</key>
                <string>{951,750}</string>
                <key>textureRect</key>
                <string>{{1,1},{951,750}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>input_num_btn_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,94}</string>
                <key>spriteSourceSize</key>
                <string>{179,94}</string>
                <key>textureRect</key>
                <string>{{1,753},{179,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>GameRoomRes.pvr.ccz</string>
            <key>size</key>
            <string>{953,848}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1758fca7f3f4c3c4b42af629defff814:4037ca41ab912db81734818920482d2a:0156178a790640d82ec835351d41f7f4$</string>
            <key>textureFileName</key>
            <string>GameRoomRes.pvr.ccz</string>
        </dict>
    </dict>
</plist>
