<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>create_room_txt_beishu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,36}</string>
                <key>spriteSourceSize</key>
                <string>{77,36}</string>
                <key>textureRect</key>
                <string>{{954,1},{77,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_room_txt_difen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{75,36}</string>
                <key>spriteSourceSize</key>
                <string>{77,36}</string>
                <key>textureRect</key>
                <string>{{954,317},{75,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_room_txt_jushu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,36}</string>
                <key>spriteSourceSize</key>
                <string>{77,36}</string>
                <key>textureRect</key>
                <string>{{954,80},{77,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_room_txt_people.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,36}</string>
                <key>spriteSourceSize</key>
                <string>{77,36}</string>
                <key>textureRect</key>
                <string>{{954,159},{77,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_room_txt_wanfa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,36}</string>
                <key>spriteSourceSize</key>
                <string>{77,36}</string>
                <key>textureRect</key>
                <string>{{954,238},{77,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enter_room_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{951,750}</string>
                <key>spriteSourceSize</key>
                <string>{951,750}</string>
                <key>textureRect</key>
                <string>{{1,1},{951,750}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>GameRoomRes.pvr.ccz</string>
            <key>size</key>
            <string>{991,752}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f170944f290a7bdae1c7f0be1d8b091:fa226a0869c32492b397d37a950b754c:0156178a790640d82ec835351d41f7f4$</string>
            <key>textureFileName</key>
            <string>GameRoomRes.pvr.ccz</string>
        </dict>
    </dict>
</plist>
