<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lob_add_room.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{433,460}</string>
                <key>spriteSourceSize</key>
                <string>{433,478}</string>
                <key>textureRect</key>
                <string>{{46,481},{433,460}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_auth_enter_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{109,98}</string>
                <key>spriteSourceSize</key>
                <string>{109,102}</string>
                <key>textureRect</key>
                <string>{{381,1237},{109,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lob_create_room.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{433,478}</string>
                <key>spriteSourceSize</key>
                <string>{433,478}</string>
                <key>textureRect</key>
                <string>{{46,1},{433,478}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_gold_room.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,333}</string>
                <key>spriteSourceSize</key>
                <string>{285,333}</string>
                <key>textureRect</key>
                <string>{{46,1237},{285,333}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lob_help_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{62,100}</string>
                <key>spriteSourceSize</key>
                <string>{66,102}</string>
                <key>textureRect</key>
                <string>{{195,1888},{62,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lob_his_item_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,84}</string>
                <key>spriteSourceSize</key>
                <string>{48,84}</string>
                <key>textureRect</key>
                <string>{{422,1516},{48,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_his_item_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,70}</string>
                <key>spriteSourceSize</key>
                <string>{2,70}</string>
                <key>textureRect</key>
                <string>{{1,1314},{2,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_his_list_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,153}</string>
                <key>spriteSourceSize</key>
                <string>{100,153}</string>
                <key>textureRect</key>
                <string>{{219,1658},{100,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lob_menu_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1311,43}</string>
                <key>spriteSourceSize</key>
                <string>{1311,43}</string>
                <key>textureRect</key>
                <string>{{1,1},{1311,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lob_msg_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{66,94}</string>
                <key>spriteSourceSize</key>
                <string>{66,102}</string>
                <key>textureRect</key>
                <string>{{344,1874},{66,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lob_setting_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{66,100}</string>
                <key>spriteSourceSize</key>
                <string>{66,102}</string>
                <key>textureRect</key>
                <string>{{374,1658},{66,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_shop_item_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,400}</string>
                <key>spriteSourceSize</key>
                <string>{292,400}</string>
                <key>textureRect</key>
                <string>{{46,943},{292,400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lob_shop_item_card_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,126}</string>
                <key>spriteSourceSize</key>
                <string>{144,126}</string>
                <key>textureRect</key>
                <string>{{198,1760},{144,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_shop_item_card_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,131}</string>
                <key>spriteSourceSize</key>
                <string>{192,131}</string>
                <key>textureRect</key>
                <string>{{1,1820},{192,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_shop_item_card_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,132}</string>
                <key>spriteSourceSize</key>
                <string>{201,132}</string>
                <key>textureRect</key>
                <string>{{219,1524},{201,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_shop_item_gold_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,75}</string>
                <key>spriteSourceSize</key>
                <string>{115,75}</string>
                <key>textureRect</key>
                <string>{{381,1348},{115,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lob_shop_item_gold_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,144}</string>
                <key>spriteSourceSize</key>
                <string>{195,144}</string>
                <key>textureRect</key>
                <string>{{1,1674},{195,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_shop_item_gold_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,148}</string>
                <key>spriteSourceSize</key>
                <string>{216,148}</string>
                <key>textureRect</key>
                <string>{{1,1524},{216,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_speaker_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,49}</string>
                <key>spriteSourceSize</key>
                <string>{80,49}</string>
                <key>textureRect</key>
                <string>{{381,1465},{80,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lob_speaker_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,42}</string>
                <key>spriteSourceSize</key>
                <string>{45,42}</string>
                <key>textureRect</key>
                <string>{{297,1888},{45,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby_shop_menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,112}</string>
                <key>spriteSourceSize</key>
                <string>{107,112}</string>
                <key>textureRect</key>
                <string>{{344,1760},{107,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>GameLobRes.pvr.ccz</string>
            <key>size</key>
            <string>{480,1952}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f5b3f147ea9aa103bec461a7db4226f:5efca6fec16d57008b0d85419791cd53:757a86f4efbc77e3039718e1907d4b5d$</string>
            <key>textureFileName</key>
            <string>GameLobRes.pvr.ccz</string>
        </dict>
    </dict>
</plist>
