<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mj_bt_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,68}</string>
                <key>spriteSourceSize</key>
                <string>{67,68}</string>
                <key>textureRect</key>
                <string>{{1167,804},{67,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_bt_chat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,68}</string>
                <key>spriteSourceSize</key>
                <string>{67,68}</string>
                <key>textureRect</key>
                <string>{{1236,759},{67,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_bt_reconnect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,55}</string>
                <key>spriteSourceSize</key>
                <string>{129,55}</string>
                <key>textureRect</key>
                <string>{{1248,628},{129,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mj_bt_record.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,82}</string>
                <key>spriteSourceSize</key>
                <string>{81,82}</string>
                <key>textureRect</key>
                <string>{{1482,665},{81,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_bt_setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,68}</string>
                <key>spriteSourceSize</key>
                <string>{67,68}</string>
                <key>textureRect</key>
                <string>{{1313,895},{67,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mj_card_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,52}</string>
                <key>spriteSourceSize</key>
                <string>{40,52}</string>
                <key>textureRect</key>
                <string>{{1236,922},{40,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mj_card_gold_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-30}</string>
                <key>spriteSize</key>
                <string>{34,38}</string>
                <key>spriteSourceSize</key>
                <string>{72,98}</string>
                <key>textureRect</key>
                <string>{{1472,916},{34,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_card_gold_m.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-17}</string>
                <key>spriteSize</key>
                <string>{21,25}</string>
                <key>spriteSourceSize</key>
                <string>{43,59}</string>
                <key>textureRect</key>
                <string>{{1290,922},{21,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_card_status_yj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,60}</string>
                <key>spriteSourceSize</key>
                <string>{76,60}</string>
                <key>textureRect</key>
                <string>{{1420,719},{76,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mj_card_ting_status.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,60}</string>
                <key>spriteSourceSize</key>
                <string>{50,60}</string>
                <key>textureRect</key>
                <string>{{1383,895},{50,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_desk_info_batt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,27}</string>
                <key>spriteSourceSize</key>
                <string>{37,27}</string>
                <key>textureRect</key>
                <string>{{881,636},{37,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_desk_info_batt1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,10}</string>
                <key>spriteSourceSize</key>
                <string>{20,10}</string>
                <key>textureRect</key>
                <string>{{639,460},{20,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_desk_info_sim.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{1508,916},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_desk_info_sim_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,5}</string>
                <key>spriteSize</key>
                <string>{19,25}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{201,823},{19,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mj_desk_info_wifi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,32}</string>
                <key>spriteSourceSize</key>
                <string>{38,32}</string>
                <key>textureRect</key>
                <string>{{1545,916},{38,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mj_desk_info_wifi_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{30,26}</string>
                <key>spriteSourceSize</key>
                <string>{38,32}</string>
                <key>textureRect</key>
                <string>{{1007,606},{30,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_end_bg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{313,538}</string>
                <key>spriteSourceSize</key>
                <string>{313,538}</string>
                <key>textureRect</key>
                <string>{{1,1},{313,538}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_end_card_hu_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,94}</string>
                <key>spriteSourceSize</key>
                <string>{74,94}</string>
                <key>textureRect</key>
                <string>{{926,874},{74,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_end_hu_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,154}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{666,666},{154,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_end_user_winner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,72}</string>
                <key>spriteSourceSize</key>
                <string>{113,72}</string>
                <key>textureRect</key>
                <string>{{1305,604},{113,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_game_card_gold_di.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{1158,874},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_game_direction_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{174,123}</string>
                <key>spriteSourceSize</key>
                <string>{198,145}</string>
                <key>textureRect</key>
                <string>{{822,665},{174,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mj_game_direction_0_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{156,49}</string>
                <key>spriteSourceSize</key>
                <string>{198,145}</string>
                <key>textureRect</key>
                <string>{{1472,271},{156,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mj_game_direction_0_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{57,-9}</string>
                <key>spriteSize</key>
                <string>{60,111}</string>
                <key>spriteSourceSize</key>
                <string>{198,145}</string>
                <key>textureRect</key>
                <string>{{813,873},{60,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mj_game_direction_0_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-51}</string>
                <key>spriteSize</key>
                <string>{152,37}</string>
                <key>spriteSourceSize</key>
                <string>{198,145}</string>
                <key>textureRect</key>
                <string>{{1440,450},{152,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mj_game_direction_0_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-58,-9}</string>
                <key>spriteSize</key>
                <string>{60,113}</string>
                <key>spriteSourceSize</key>
                <string>{198,145}</string>
                <key>textureRect</key>
                <string>{{1524,1},{60,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_game_direction_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{174,123}</string>
                <key>spriteSourceSize</key>
                <string>{198,145}</string>
                <key>textureRect</key>
                <string>{{882,460},{174,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mj_game_direction_1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{156,49}</string>
                <key>spriteSourceSize</key>
                <string>{198,145}</string>
                <key>textureRect</key>
                <string>{{723,614},{156,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_game_direction_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{57,-9}</string>
                <key>spriteSize</key>
                <string>{60,111}</string>
                <key>spriteSourceSize</key>
                <string>{198,145}</string>
                <key>textureRect</key>
                <string>{{955,812},{60,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mj_game_direction_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-51}</string>
                <key>spriteSize</key>
                <string>{152,37}</string>
                <key>spriteSourceSize</key>
                <string>{198,145}</string>
                <key>textureRect</key>
                <string>{{505,871},{152,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_game_direction_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-58,-9}</string>
                <key>spriteSize</key>
                <string>{60,113}</string>
                <key>spriteSourceSize</key>
                <string>{198,145}</string>
                <key>textureRect</key>
                <string>{{1524,116},{60,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_game_direction_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{174,123}</string>
                <key>spriteSourceSize</key>
                <string>{198,145}</string>
                <key>textureRect</key>
                <string>{{1162,452},{174,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mj_game_direction_2_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{156,49}</string>
                <key>spriteSourceSize</key>
                <string>{198,145}</string>
                <key>textureRect</key>
                <string>{{1072,753},{156,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_game_direction_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{57,-9}</string>
                <key>spriteSize</key>
                <string>{60,111}</string>
                <key>spriteSourceSize</key>
                <string>{198,145}</string>
                <key>textureRect</key>
                <string>{{1523,346},{60,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_game_direction_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-51}</string>
                <key>spriteSize</key>
                <string>{152,37}</string>
                <key>spriteSourceSize</key>
                <string>{198,145}</string>
                <key>textureRect</key>
                <string>{{659,873},{152,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_game_direction_2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-58,-9}</string>
                <key>spriteSize</key>
                <string>{60,113}</string>
                <key>spriteSourceSize</key>
                <string>{198,145}</string>
                <key>textureRect</key>
                <string>{{1524,231},{60,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_game_direction_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{174,123}</string>
                <key>spriteSourceSize</key>
                <string>{198,145}</string>
                <key>textureRect</key>
                <string>{{947,636},{174,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mj_game_direction_3_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{156,49}</string>
                <key>spriteSourceSize</key>
                <string>{198,145}</string>
                <key>textureRect</key>
                <string>{{505,820},{156,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_game_direction_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{57,-9}</string>
                <key>spriteSize</key>
                <string>{60,111}</string>
                <key>spriteSourceSize</key>
                <string>{198,145}</string>
                <key>textureRect</key>
                <string>{{1305,740},{60,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mj_game_direction_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-51}</string>
                <key>spriteSize</key>
                <string>{152,37}</string>
                <key>spriteSourceSize</key>
                <string>{198,145}</string>
                <key>textureRect</key>
                <string>{{505,910},{152,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_game_direction_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-58,-9}</string>
                <key>spriteSize</key>
                <string>{60,113}</string>
                <key>spriteSourceSize</key>
                <string>{198,145}</string>
                <key>textureRect</key>
                <string>{{1305,678},{60,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mj_game_direction_di.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,145}</string>
                <key>spriteSourceSize</key>
                <string>{198,145}</string>
                <key>textureRect</key>
                <string>{{1,823},{198,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_game_direction_time_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-16}</string>
                <key>spriteSize</key>
                <string>{84,63}</string>
                <key>spriteSourceSize</key>
                <string>{198,145}</string>
                <key>textureRect</key>
                <string>{{1482,749},{84,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_game_direction_zz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{174,123}</string>
                <key>spriteSourceSize</key>
                <string>{198,145}</string>
                <key>textureRect</key>
                <string>{{1072,628},{174,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_game_direction_zz_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{156,49}</string>
                <key>spriteSourceSize</key>
                <string>{198,145}</string>
                <key>textureRect</key>
                <string>{{663,822},{156,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_game_direction_zz_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{57,-9}</string>
                <key>spriteSize</key>
                <string>{60,111}</string>
                <key>spriteSourceSize</key>
                <string>{198,145}</string>
                <key>textureRect</key>
                <string>{{1479,459},{60,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_game_direction_zz_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-51}</string>
                <key>spriteSize</key>
                <string>{152,37}</string>
                <key>spriteSourceSize</key>
                <string>{198,145}</string>
                <key>textureRect</key>
                <string>{{659,912},{152,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_game_direction_zz_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-58,-9}</string>
                <key>spriteSize</key>
                <string>{60,113}</string>
                <key>spriteSourceSize</key>
                <string>{198,145}</string>
                <key>textureRect</key>
                <string>{{1420,604},{60,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_game_info_jushu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,30}</string>
                <key>spriteSourceSize</key>
                <string>{111,30}</string>
                <key>textureRect</key>
                <string>{{813,935},{111,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_game_info_remain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,30}</string>
                <key>spriteSourceSize</key>
                <string>{132,30}</string>
                <key>textureRect</key>
                <string>{{821,841},{132,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_game_op_cancle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,3}</string>
                <key>spriteSize</key>
                <string>{123,124}</string>
                <key>spriteSourceSize</key>
                <string>{159,152}</string>
                <key>textureRect</key>
                <string>{{201,844},{123,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_game_op_chi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{153,152}</string>
                <key>spriteSourceSize</key>
                <string>{159,152}</string>
                <key>textureRect</key>
                <string>{{1007,452},{153,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_game_op_chi_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,180}</string>
                <key>spriteSourceSize</key>
                <string>{200,180}</string>
                <key>textureRect</key>
                <string>{{303,662},{200,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_game_op_chi_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{300,276}</string>
                <key>spriteSourceSize</key>
                <string>{300,280}</string>
                <key>textureRect</key>
                <string>{{316,1},{300,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_game_op_gang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,152}</string>
                <key>spriteSourceSize</key>
                <string>{159,152}</string>
                <key>textureRect</key>
                <string>{{723,460},{157,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_game_op_gang_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,182}</string>
                <key>spriteSourceSize</key>
                <string>{204,182}</string>
                <key>textureRect</key>
                <string>{{316,478},{204,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_game_op_gang_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{300,276}</string>
                <key>spriteSourceSize</key>
                <string>{300,280}</string>
                <key>textureRect</key>
                <string>{{618,1},{300,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_game_op_hu_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,186}</string>
                <key>spriteSourceSize</key>
                <string>{199,186}</string>
                <key>textureRect</key>
                <string>{{522,478},{199,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_game_op_hu_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,280}</string>
                <key>spriteSourceSize</key>
                <string>{300,280}</string>
                <key>textureRect</key>
                <string>{{1,541},{300,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_game_op_hu_bt_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{151,152}</string>
                <key>spriteSourceSize</key>
                <string>{159,152}</string>
                <key>textureRect</key>
                <string>{{1287,450},{151,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_game_op_peng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,152}</string>
                <key>spriteSourceSize</key>
                <string>{159,152}</string>
                <key>textureRect</key>
                <string>{{505,666},{159,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_game_op_peng_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,177}</string>
                <key>spriteSourceSize</key>
                <string>{220,177}</string>
                <key>textureRect</key>
                <string>{{1250,271},{220,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_game_op_peng_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{300,270}</string>
                <key>spriteSourceSize</key>
                <string>{300,280}</string>
                <key>textureRect</key>
                <string>{{920,1},{300,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_hu_type_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,177}</string>
                <key>spriteSourceSize</key>
                <string>{314,177}</string>
                <key>textureRect</key>
                <string>{{934,273},{314,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_hu_type_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{321,197}</string>
                <key>spriteSourceSize</key>
                <string>{321,197}</string>
                <key>textureRect</key>
                <string>{{316,279},{321,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_hu_type_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,179}</string>
                <key>spriteSourceSize</key>
                <string>{293,179}</string>
                <key>textureRect</key>
                <string>{{639,279},{293,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_hu_type_2_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,268}</string>
                <key>spriteSourceSize</key>
                <string>{300,280}</string>
                <key>textureRect</key>
                <string>{{1222,1},{300,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_replay_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,120}</string>
                <key>spriteSourceSize</key>
                <string>{124,120}</string>
                <key>textureRect</key>
                <string>{{326,844},{124,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mj_replay_bg_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,90}</string>
                <key>spriteSourceSize</key>
                <string>{2,90}</string>
                <key>textureRect</key>
                <string>{{303,541},{2,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_replay_bt_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{77,91}</string>
                <key>spriteSourceSize</key>
                <string>{77,93}</string>
                <key>textureRect</key>
                <string>{{1002,874},{77,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_replay_bt_back_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{77,91}</string>
                <key>spriteSourceSize</key>
                <string>{77,93}</string>
                <key>textureRect</key>
                <string>{{1482,572},{77,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_replay_bt_exit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{57,91}</string>
                <key>spriteSourceSize</key>
                <string>{77,93}</string>
                <key>textureRect</key>
                <string>{{1313,802},{57,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_replay_bt_next.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{75,91}</string>
                <key>spriteSourceSize</key>
                <string>{77,93}</string>
                <key>textureRect</key>
                <string>{{1081,859},{75,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_replay_bt_next_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{75,91}</string>
                <key>spriteSourceSize</key>
                <string>{77,93}</string>
                <key>textureRect</key>
                <string>{{1236,829},{75,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_replay_bt_pause.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{53,91}</string>
                <key>spriteSourceSize</key>
                <string>{77,93}</string>
                <key>textureRect</key>
                <string>{{1372,802},{53,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_replay_bt_pause_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{53,91}</string>
                <key>spriteSourceSize</key>
                <string>{77,93}</string>
                <key>textureRect</key>
                <string>{{1482,814},{53,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mj_replay_bt_play.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{53,93}</string>
                <key>spriteSourceSize</key>
                <string>{77,93}</string>
                <key>textureRect</key>
                <string>{{1072,804},{53,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mj_replay_bt_play_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{53,93}</string>
                <key>spriteSourceSize</key>
                <string>{77,93}</string>
                <key>textureRect</key>
                <string>{{1427,797},{53,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_replay_bt_share.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{55,93}</string>
                <key>spriteSourceSize</key>
                <string>{77,93}</string>
                <key>textureRect</key>
                <string>{{448,844},{55,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_replay_process.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,38}</string>
                <key>spriteSourceSize</key>
                <string>{81,38}</string>
                <key>textureRect</key>
                <string>{{1541,459},{81,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mj_user_status_offline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,35}</string>
                <key>spriteSourceSize</key>
                <string>{65,35}</string>
                <key>textureRect</key>
                <string>{{1435,892},{65,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mj_user_status_timeout.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{448,939},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_user_status_zb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{1482,869},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_user_status_zj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{1529,869},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>GameBaseRes.pvr.ccz</string>
            <key>size</key>
            <string>{1585,969}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8932e5ee02a1046f42d7a375e0a0bbcb:8dd9f91af79e510db09207f507f47375:cebab43d9cca81e51ee1518756d14df1$</string>
            <key>textureFileName</key>
            <string>GameBaseRes.pvr.ccz</string>
        </dict>
    </dict>
</plist>
